:root {
    --cor-primaria: #EDDBC0;
    --cor-secundaria-botao: #DBC8AC;
    --cor-hover-botao: #B73E3E;
    --cor-brackground: #DD5353;
    --cor-hover-nav: #22d4fd
}

body {
    background: var(--cor-brackground);
    box-sizing: border-box;
}

.container {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.container__principal {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.container__titulo, .container__texto {
    color: var(--cor-primaria);
}

strong{
    color: var(--cor-hover-nav);

}

.container__titulo {
    font-family: 'Krona One';
    font-size: 2.25rem;
    color: var(--cor-primaria);
    font-weight: 400;
    margin-top: 0.5em;
}

.container__texto {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--cor-primaria);
    margin-top: 2em;
}

.container__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container__links a {
    text-decoration: none;
}

.container__links h2 {
    margin-top: 1em;
    color: var(--cor-primaria);
    font-size: 1.5rem;
    font-family: 'montserrat';
    font-weight: 400;
    
}

.container__botao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-secundaria-botao);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-primaria);
    margin-top: 1em;
}

.container__botao:hover {
    cursor: pointer;
    background-color: var(--cor-hover-botao);
}

.container__imagem {
    width: 50%;
}

.container__principal, .container__imagem {
    display: inline-block;
    justify-content: center;
}

/* footer */

.footer {
    background-color: var(--cor-secundaria-botao);
    padding: 23.64px ;
}

.footer__texto {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

/* cabeçalho */

.cabeçalho__lista {
    padding: 3% 15%;
    display: flex;
    gap: 30px;
    
    
}

.cabeçalho__lista__item {
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-secundaria-botao);
   
}

.cabeçalho__lista__item:hover {
    color: var(--cor-hover-nav);
}


/* media queries */

@media (max-width: 1200px) {
    .cabeçalho {
        padding: 10% 0%;
        
        
    }

    .cabeçalho__lista {
        justify-content: center;

    }

    .container {
        flex-direction: column-reverse;
        padding: 5% ;
    }

    .container__principal {
        width: auto;
    }

   
}

